<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Gravity | Bin</title>
</head>
<body>
    <div class="container shadow">
        <h3 class="text-center display-4">Your Deleted Files</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">File Type</th>
                    <th scope="col">File Name</th>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Restore</th>
                    <th scope="col">Delete Forever</th>
                </tr>
            </thead>
            <tbody>
                <% if(result){ %>
                    <% result.forEach(function(item, index){ %>
                        <tr id="<%= item.filetype %>">
                            <th scope="row"><%= index %></th>
                            <td><%= item.filetype %></td>
                            <td><%= item.name %></td>
                            <td><%= item.date %></td>
                            <td><button id="<%= item.binid %>" class="btn btn-sm btn-success restore-btn" onclick="this.blur();">restore</button></td>
                            <td><button id="<%= item.binid %>" class="btn btn-sm btn-danger delete-btn" onclick="this.blur();">delete</button></td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
<script>
    var restore_btn=document.getElementsByClassName("restore-btn");
    for(let i=0;i<restore_btn.length;i++)
    {
        restore_btn[i].addEventListener("click", function()
        {
            const binid=this.id;
            const parentElement1=this.parentElement;
            const parentElement2=parentElement1.parentElement;
            const filetype=parentElement2.id;
            fetch(`/bin/restore/${binid}/${filetype}`,{
                method:"DELETE",
            })
            .then((res)=>
            {
                return res.json();
            })
            .then((res)=>
            {
                if(res.code==200)
                {
                    parentElement2.remove();
                }
                else
                {
                    alert("Something error");
                }
            })
            .catch((err)=>
            {
                console.log(err);
            })
        })
    }

    var delete_btn=document.getElementsByClassName("delete-btn");
    for(let i=0;i<delete_btn.length;i++)
    {
        delete_btn[i].addEventListener("click", function()
        {
            const binid=this.id;
            const parentElement1=this.parentElement;
            const parentElement2=parentElement1.parentElement;
            fetch(`/bin/delete/${binid}`,{
                method:"DELETE"
            })
            .then((res)=>
            {
                return res.json();
            })
            .then((res)=>
            {
                if(res.code==200)
                {
                    parentElement2.remove();
                }
                else
                {
                    alert("Something Error");
                }
            })
        })
    }
</script>
</html>