<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/welcome/welcome.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/animate.css">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Righteous&display=swap" rel="stylesheet">
    <style>
        *{
            box-sizing: border-box;
        }
        .checkbox-input:focus
        {
            outline: none;
        }
    </style>
    <title>Gravity | Image</title>
</head>
<body>
    <% include partials/navbar.ejs %>
    <div class="container shadow mb-4" style="margin-top: 50px; padding: 15px; box-sizing: border-box;">
                <div class="row">
                        <div class="col-md-12 text-center">
                            <p id="upload-title" class="text-success">UPLOAD IMAGE HERE</p>
                        </div>
                    <div class="col-md-8">
                            <form id="fileUploadForm" novalidate method="POST" enctype="multipart/form-data" name="form" action="/image/upload">
                                <div class="row">
                                        <div class="col-md-12">
                                                <div class="custom-file mb-3">
                                                    <input accept="image/*" type="file" name="image" class="custom-file-input" id="customFile">
                                                    <label class="custom-file-label" for="customFile" id="fileName">Choose file</label>
                                                </div>
                                        </div>
                                        <div class="col-md-12 d-none mb-3" id="file-name-input-div">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-success" style="color:white; border-color:#28A745;">
                                                        <i class="fa fa-file-image-o"></i>
                                                    </span>
                                                </div>
                                                <input required name="imagename" type="text" placeholder="File name here, should be of 10 character" class="form-control border-left-0" id="file-name-input">
                                            </div>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-danger text-center" role="progressbar" id="file-upload-progress"></div>
                                            </div>
                                            <span>Uploaded: </span><span id="uploadedSize"></span> <span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Total: </span> <span id="totalSize"></span>
                                        </div>
                                        <div class="col-md-12 mb-4">
                                            <input type="submit" id="upload-btn" disabled class="btn btn-sm btn-danger" value="upload">
                                            <span id="check-tag"></span>
                                        </div>
                                </div>
                            </form>
                    </div>
                    <div class="col-md-4">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2 mb-3" type="search" placeholder="Search" aria-label="Search" id="image-search">
                        </form>
                        <div style="position: absolute;" class="shadow" id="result-div">
                            <ul class="list-group" id="ul"></ul>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="container mb-3">
                    <button onclick="this.blur();" class="btn btn-sm btn-danger" id="generate-multiple">
                        Generate Multiple File Link
                    </button>
                </div>
    <div class="container shadow overflow-auto">
            <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">NAME</th>
                        <th scope="col">MODIFIED</th>
                        <th scope="col">WATCH</th>
                        <th scope="col">DOWNLOAD</th>
                        <th scope="col">DELETE</th>
                        <th scope="col">SHARE</th>
                      </tr>
                    </thead>
                    <tbody id="image-content">
                        <% result.forEach(function(item) { %>
                            <tr id="<%= item.name %>">
                                <td><%= item.name %></td>
                                <td><%= item.date %></td>
                                <td><i class="fa fa-eye" style="color: blue;" aria-hidden="true" id="<%= item.imageid %>"></i></td>
                                <td><a href="/image/download/<%= item.imageid %>"><i class="fa fa-cloud-download" style="color: green;" aria-hidden="true"></i></a></td>
                                <td><i class="fa fa-trash" style="color: red;" aria-hidden="true" id="<%= item.imageid %>"></i></td>
                                <!-- <td><i class="fa fa-share-alt" aria-hidden="true" data-target="#email-modal" data-toggle="modal" style="color: chocolate;" id="<%= item.imageid %>"></i></td> -->
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input link-select" id="link-select<%= item.imageid %>" value="<%= item.imageid %>">
                                        <label class="custom-control-label" for="link-select<%= item.imageid %>">select</label>
                                    </div>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                  </table>
                  <button hidden data-target="#email-modal" data-toggle="modal" id="open-modal"></button>
    </div>
    <div class="modal fade" id="image-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="img-fluid" id="select-image">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="email-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Sharing Public URL Safely</h3>
                </div>
                <div class="modal-body" id="modal-body">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a href="#email" class="nav-link active" data-toggle="tab" id="login-tab">Email</a></li>
                            <li class="nav-item"><a href="#sms" class="nav-link" data-toggle="tab">Sms</a></li>
                            <li class="nav-item"><a href="#whatsapp" class="nav-link" data-toggle="tab">Whats App</a></li>
                        </ul>
                        <div class="tab-content" style="overflow: hidden;">
                            <div class="tab-pane active pt-2" id="email">
                                    <div class="input-group flex-nowrap" id="first-email-input-div">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-success text-light" id="addon-wrapping">To:</span>
                                        </div>
                                        <input required type="email" class="form-control share-email" placeholder="Enter email here" id="share-email">
                                    </div>
                                    <button onclick="this.blur();" class="btn btn-sm text-light mt-2" id="add-reciepient" style="background-color: darksalmon;">Add Recipient</button>
                                    <div class="input-group flex-nowrap mt-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-success text-light" id="addon-wrapping">Generated Link:</span>
                                        </div>
                                        <input type="text" class="form-control" id="link" disabled style="background-color: white;">
                                    </div>
                                    <button type="button" id="send-link-btn" class="btn btn-outline-primary mt-3 float-right">SEND</button>
                            </div>
                            <!-- <div id="sms" class="tab-pane pt-2">
                                <div class="input-group flex-nowrap">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-success text-light">Number:</span>
                                    </div>
                                    <input required type="number" class="form-control" placeholder="Enter email here" id="share-number">
                                </div>
                                <div class="input-group flex-nowrap mt-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-success text-light">Generated Link:</span>
                                    </div>
                                    <input type="text" class="form-control" id="number-share-link" disabled style="background-color: white;">
                                </div>
                                <button type="button" id="send-link-no-btn" class="btn btn-outline-primary mt-3 float-right">SEND</button>
                            </div>
                            <div class="tab-pane pt-2" id="whatsapp">
                                <div class="input-group flex-nowrap">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-success text-light">Whatsapp No:</span>
                                    </div>
                                    <input required type="number" class="form-control" placeholder="Enter email here" id="share-whatsapp">
                                </div>
                                <div class="input-group flex-nowrap mt-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-success text-light">Generated Link:</span>
                                    </div>
                                    <input type="text" class="form-control" id="whatsapp-share-link" disabled style="background-color: white;">
                                </div>
                                <button type="button" id="send-link-whatsapp-btn" class="btn btn-outline-primary mt-3 float-right">SEND</button>
                            </div> -->
                        </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <button data-target="#image-modal" data-toggle="modal" type="button" id="btn" hidden></button>
    <script src="/image/image.js"></script>
    <script src="/image/image_search.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
</body>
</html>