<html lang="en">
<head>
    <% include partials/head.ejs %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gravity | Profile</title>
</head>
<body>
    <% include partials/navbar.ejs %>
    <div class="container">
        <div class="row" style="margin-top: 25px;">
            <div class="col-md-6">
                <p style="color: brown; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">User Profile Image</p>
                <hr>
                <img 
                src="<%= details[0].img ? details[0].img : 'https://greendestinations.org/wp-content/uploads/2019/05/avatar-exemple.jpg' %>" 
                style="width: 300px; height: 220px; border-radius: 50%; border: 1px solid black;" 
                id="profile-image">
                <br>
                <button class="btn btn-danger btn-sm mt-1" style="margin-left: 120px;" id="image-update">Update</button>
            </div>
            <div class="col-md-6">
                <p style="color: brown; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">User Details</p>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <label for="name" style="color: chocolate; font-size: 17px; font-weight: bold;">Name: </label>
                        <input required id="name" type="text" value="<%= details[0].name %>" style="padding: 5px;">
                    </div>
                    <div class="col-6">
                        <label for="email" style="color: chocolate; font-size: 17px; font-weight: bold;">Email: </label>
                        <input required id="email" type="email" value="<%= details[0].email %>" style="padding: 5px;">
                    </div>
                </div>
                <div class="row" style="margin-top: 15px;">
                    <div class="col-6">
                        <label for="number" style="color: chocolate; font-size: 17px; font-weight: bold;">Number: </label>
                        <input required type="number" value="<%= details[0].number %>" id="number" style="padding: 5px;">
                    </div>
                    <div class="col-6">
                        <label for="password" style="color: chocolate; font-size: 17px; font-weight: bold;">Password: </label>
                        <input required type="password" value="<%= details[0].password %>" disabled id="password" style="padding: 5px;">
                    </div>
                </div>
                <div class="row" style="margin-top: 15px;">
                    <div class="col-6">
                        <button class="btn btn-warning btn-sm text-light">Update</button>
                    </div>
                    <div class="col-6">
                        <a href="/users/logout"><button class="btn btn-dark btn-sm text-light">Log Out</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/profile/profile.js"></script>
</body>
</html>